body,
html {
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	background: #ececec;
	margin: 0;
	padding: 0;
	color: #333;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

button {
	cursor: pointer;
}
